<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>Admin | Home page</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="View/twig_templates/images/favicon.ico" type="image/x-icon">
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../view/css/css/1.css" rel="stylesheet">
    <link href="../view/css/css/2.css" rel="stylesheet">

    <link href="../view/css/css/4.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="adminSite.php"><b>NTNU</b> GJØVIK</a> <button class="navbar-toggle collapsed" data-target="#navbar-collapse" data-toggle="collapse" type="button"><i class="fa fa-bars"></i></button>
                    </div>

                    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown"></li>
                            <li>
                                <a class="w3-bar-item w3-button" href="adminSite.php">Home</a>
                            </li>
                            <li>
                                <a class="w3-bar-item w3-button" href="register_student.php">Register-student</a>
                            </li>
                            <li>
                                <a class="w3-bar-item w3-button" href="register_teacher.php">Register-teacher</a>
                            </li>
                        </ul>

                    </div>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">

                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">

                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="hidden-xs">Logged in as: <b>{{fname}} {{lname}} </b></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
        </header>
        <div class="content-wrapper">
            <div class="container">

                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>Admin Page <small>NTNU i GJØVIK</small></h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="createNewAdmin.php"><i class="fa fa-dashboard"></i> Create New Admin User</a>
                        </li>
                        <li class="active">
                            <a href="../index.php">logout</a>
                        </li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <p>

                    </p>

                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Information of all the users</h3>
                        </div>
                        <div class="box-body">
                            <!-- alle brukere fra db-->
                            {% if teachers.teacher.godkjenning != "OK" %}
                            <!-- Alle lærere som ikke er godkjent enda-->
                            <div class="w3-container">
                                <h2>Lærer godkjenning</h2>
                                <p>Alle Lærere som venter på godkjenning</p>

                                <table class="w3-table-all w3-tiny">
                                    <tr>
                                        <th>Id</th>
                                        <th>Fornavn</th>
                                        <th>Etternavn</th>
                                        <th>Email</th>
                                        <th>Subjectt</th>
                                        <th>Slett lærer</th>
                                    </tr>

                                    {% for teacher in teachers %} {% if teacher.reg_godkjent == "NEI" %}
                                    <tr>
                                        <td>{{teacher.id}}</td>
                                        <td>{{teacher.Fname}}</td>
                                        <td>{{teacher.Lname}}</td>
                                        <td>{{teacher.Email}}</td>
                                        <td>{{teacher.Subject}}</td>
                                        <td> <a href="ApproveUser.php?id={{teacher.id}}&user=teacher">
																<input type="button" name"submit" value="Godkjenn"></a></td>
                                    </tr>
                                    {% endif %} {% endfor %}

                                </table>
                            </div>

                            {% endif %}


                            <!-- Alle studenter til godkjenning -->

                            <div class="w3-container">
                                <h2>Student godkjenning</h2>
                                <p>Alle studenter som venter på godkjenning</p>

                                <table class="w3-table-all w3-tiny">
                                    <tr>
                                        <th>Id</th>
                                        <th>Fornavn</th>
                                        <th>Etternavn</th>
                                        <th>Email</th>
                                        <th>Favoritt-emnet</th>
                                        <th>Slett student</th>
                                    </tr>

                                    {% for student in students if student.reg_godkjent == "NEI" %}
                                    <tr>
                                        <td>{{student.id}}</td>
                                        <td>{{student.Fname}}</td>
                                        <td>{{student.Lname}}</td>
                                        <td>{{student.Email}}</td>
                                        <td>{{student.Favorit}}</td>
                                        <td> <a href="approveUser.php?id={{student.id}}&user=student"><input type="button" name"submit" value="Godkjenn"></a></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>




                            </table>

                            <!-- Alle lærere i db -->
                            <div class="w3-container">
                                <h2>lærere</h2>
                                <p>Det er {{count}} lærere i databasen</p>
                                <table class="w3-table-all w3-tiny">
                                    <tr>

                                        <th>Id</th>
                                        <th>Fornavn</th>
                                        <th>Etternavn</th>
                                        <th>Email</th>
                                        <th>Subjectt</th>
                                        <th>Slett lærer</th>



                                    </tr>


                                    {% if teachers != null %} {% for teacher in teachers %}
                                    <tr>
                                        <td>{{teacher.id}}</td>
                                        <td>{{teacher.Fname}}</td>
                                        <td>{{teacher.Lname}}</td>
                                        <td>{{teacher.Email}}</td>
                                        <td>{{teacher.Subject}}</td>

                                        <td> <a href="deleteUser.php?id={{teacher.id}}&user=teacher" onclick="return confirm('Are you sure you want to delete {{teacher.Fname}} {{teacher.Lname}}');">
														<input type="button" name"submit" value="Delete"></a></td>
                                    </tr>
                                    {% endfor %} {% endif %}


                                    </tr>

                                </table>
                            </div>



                            <!-- Alle studentene i db -->
                            <div class="w3-container">
                                <h2>Studenter</h2>
                                <p>Det er {{count2}} studenter registrert.</p>

                                <table class="w3-table-all w3-tiny">
                                    <tr>
                                        <th>Id</th>
                                        <th>Fornavn</th>
                                        <th>Etternavn</th>
                                        <th>Email</th>
                                        <th>Favoritt-emnet</th>
                                        <th>Slett student</th>
                                    </tr>

                                    {% if students != null %} {% for student in students %}
                                    <tr>
                                        <td>{{student.id}}</td>
                                        <td>{{student.Fname}}</td>
                                        <td>{{student.Lname}}</td>
                                        <td>{{student.Email}}</td>
                                        <td>{{student.Favorit}}</td>
                                        <td><a href="deleteUser.php?id={{student.id}}&user=student" onclick="return confirm('Are you sure you want to delete {{student.Fname}} {{student.Lname}}');"><input type="button" name"submit" value="Delete"></a></td>
                                    </tr>
                                    {% endfor %} {% endif %}

                                </table>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </div>

        <footer class="main-footer">
            <div class="container">
                <div class="pull-right hidden-xs">

                    {{fname}} {{lname}} | <a href="../index.php">Logout</a>
                </div>Copyright &copy; 2018
            </div>

        </footer>
    </div>

</body>

</html>