<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	
	<link href="../view/css/css/1.css" rel="stylesheet">
	<link href="../view/css/css/2.css" rel="stylesheet">

	<link href="../view/css/css/4.css" rel="stylesheet">


<body class="main-header">
    <header class="main-header">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="displayAllVids.php"><b>NTNU</b> GJØVIK</a> <button class="navbar-toggle collapsed" data-target="#navbar-collapse" data-toggle="collapse" type="button"><i class="fa fa-bars"></i></button>
                </div>
                
                <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown"></li>
                        <li>
                            <a class="w3-bar-item w3-button" href="displayAllVids.php">Home</a>
                        </li>
                        <li>
                            <a href="student_playlist.php"><i class="fa fa-dashboard"></i> You're playlist</a>
                        </li>
                        <li>
                                <a class="link" href="../Controllers/displayAllVids.php">All videos</a>
                        </li>
                        <li class="active">
                            <a href="../index.php">logout</a>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input class="form-control" id="navbar-search-input" placeholder="Search" type="text">
                        </div>
                    </form>
                </div>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            
                             <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="hidden-xs"><b>Student {{fname}} {{lname}} </b></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section class="content-header">
        <h1>Video page for students <small>NTNU i GJØVIK</small></h1>
        <ol class="breadcrumb">
            <li>
                <a href="student_playlist.php"><i class="fa fa-dashboard"></i> You're playlist</a>
            </li>
            <li class="active">
                <a href="../index.php">logout</a>
            </li>
        </ol>
    </section><!-- Main content -->
</body>

