<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>Playslist | Home page</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="View/twig_templates/images/favicon.ico" type="image/x-icon">
    <link href="../../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../view/css/css/1.css" rel="stylesheet">
    <link href="../view/css/css/2.css" rel="stylesheet">

    <link href="../view/css/css/4.css" rel="stylesheet">

</head>

<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">


        <div class="content-wrapper">
            <div class="container">
                {% if person == "Teacher" %} {% include('teacher_nav.html')%} {% else %} {% include('student_nav.html') %} {% endif %}

                <!-- Content Header (Page header) -->

                <section class="content">
                    <p>

                    </p>

                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Din egen playliste</h3>
                        </div>
                        <div class="box-body">
                            <!-- alle brukere fra db-->
                            <div class="box-body">


                                {% for video in videos %} 
                                        {% for row in video %}
                                            {% if row.Cdate != null %}
                                                <video controls>  <source src="{{row.link}}" type="Video/mp4"> </video><br>                                    
                                                <b>Uploaded: {{row.Cdate}}</b></br>
                                                <b>Topic: {{row.Topic}}</b> </br> 
                                                <b>Subject: {{row.EmneCode}}</b> </br>
                                                <b>Teacher: {{row.Lecturer}}</b><br>
                                                {% for videoInfo in videos %}
                                                {% for each in videoInfo %}
                                                    {% if row.id == each.videoId %}
                                                        {% if each.rate != null %}
                                                            <b>  Rate: {{each.rate}}</b> <br>
                                                        {% endif %}    
                                                        {% if each.comments != null  %}
                                                            <b>Comment: {{each.comments}}</b> <br>
                                                        {% endif %}        
                                                    {% endif %} 
                                                {% endfor %}
                                            {% endfor %}  
                                                <form action="addRate.php">
                                                        <label for="rate"> Add rate (0-5): </label> <br>
                                                        <input type="number" name="rate" required>
                                                        <input type="hidden" name="id" value="{{row.id}}" required>
                                                        <input type="submit" value="Rate" name="submit">
                                                </form> 
                                                <a href="addComment.php?id={{row.id}}"><button>Add comment</button></a> <br> <br>     
                                             
                                            {% endif %}
                                        {% endfor %} 
                                    {% endfor %} 

                            </div>
                        </div>
                </section>
                </div>
            </div>

            <footer class="main-footer">
                <div class="container">
                    <div class="pull-right hidden-xs">

                        {{fname}} {{lname}} | <a href="../index.php">Logout</a>
                    </div>Copyright &copy; 2018
                </div>

            </footer>
        </div>

</body>

</html>