<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="../View/twig_templates/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../View/twig_templates/images/favicon.ico" type="image/x-icon">
  <title>Feedback</title>
</head>
<body>
  {% if status=="OK" %}
    <h1>Successfully registered</h1>
    <p>{{ data.fname }} {{ data.lname }} are Successfully registered</p>
    <p><a href="../index.php">Back to home page</a><p>
  {% else %}
    <h1>Error</h1>
    <p>Could't register {{ data.fname }} {{ data.lname }}</p>
    <p><a href="/imt2291-project1-spring2018/src/Controllers/register_student.php">Try again</a>, <a href="../index.php">Home page</a></p>
  {% endif %}
</body>
</html>