
.main{
    background: rgb(240, 240, 240);
	color: #333;
	
}

.regForm ul{
	align-content: center;
	width:	750px;
	list-style-type: none;
	list-style-position: outside;
	margin: auto auto;
	padding:0px;
	
}


.regForm li{
	
	padding:	12px;
	border-bottom: 1px solid #eee;
	position: relative;
	
}
.regForm li:first-child, .regForm li:last-child{
	border-bottom: 1px solid #777;
	
}
.regForm h2{
	margin:0;
	display: inline;
	
}
.required_notification {
	color: red;
	display: inline;
	margin: 5px 0 0 0;
	float: right;
}

.regForm label {
	width:	150px;
	float:	left;
	padding: 3px;
	display: inline-block;
}
.regForm input {
	height: 20px;
	width:	220px;
	padding: 5px 8px;
}
.regForm textarea {
	width:	300px;
	padding: 8px;
	
}
.regForm button {
	margin-left: 156px;
	
}

.regForm input, .regForm textarea{
	border: 1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius: 2px;
}

.regForm input:focus, .regForm textarea:focus{
	background:#fff;
	border:1px solid #555;
	box-shadow: 0px 0px 3px #aaa;
	padding-right: 70px;
}


input:required, textarea:required{
	background:#fff url(images/red_asterisk.png) no-repeat 98% center;
	border:1px solid #555;
	box-shadow: 0px 0px 3px #aaa;
	padding-right: 70px;
}

.regForm input:focus:invalid, .regForm textarea:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
.regForm input:required:valid, .regForm textarea:required:valid { /* when a field is considered valid by the browser */
    background: #fff url(images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

button.register {
	background-color: #68b12f;
	border-bottom: 1px solid #5b992b;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 0 #9fd574;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	text-shadow: 0 -1px 0 #396715;
}
button.register:hover {
	opacity:.85;
	cursor: pointer; 
}
button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset; 
}

/* === Form hints === */
.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
.form_hint::before {
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}

#img img{
	position: absolute;
	width: 20%;	
	height: 30;
}

.indexbtn{
	
	position: absolute;
	margin-bottom: 1em;
	margin: 3;
	
}

.regForm input:focus + .form_hint {display: inline;}
.regForm input:required:valid + .form_hint {background: #28921f;}
.regForm input:required:valid + .form_hint::before {color:#28921f;}

.nav {
	width:750px;
	margin:0 auto;
	list-style:none;
	}
.nav li {
	float:left;
	}
.nav a {
	display:block;
	text-align:center;
	width:120px; /* fixed width */
	text-decoration:none; 
}

.vid_background{
	background-color: lightgrey;
	margin: 2;
	text-align: center;
	border-bottom: #aaa;
}

.vid_background, h1{
	font-size: 40;
}

.videos, li{
	color:black;
	font-size: 25;
	font-weight: bold;
}

.vid_list{
	list-style-type: none;
}
