.skin-blue .main-header .navbar {
	background-color: #3c8dbc
}
.skin-blue .main-header .navbar .nav>li>a {
	color: #fff
}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a {
	background: rgba(0, 0, 0, 0.1);
	color: #f6f6f6
}
.skin-blue .main-header .navbar .sidebar-toggle {
	color: #fff
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
	color: #f6f6f6;
	background: rgba(0, 0, 0, 0.1)
}
.skin-blue .main-header .navbar .sidebar-toggle {
	color: #fff
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
	background-color: #367fa9
}
@media (max-width:767px) {
	.skin-blue .main-header .navbar .dropdown-menu li.divider {
		background-color: rgba(255, 255, 255, 0.1)
	}
	.skin-blue .main-header .navbar .dropdown-menu li a {
		color: #fff
	}
	.skin-blue .main-header .navbar .dropdown-menu li a:hover {
		background: #367fa9
	}
}
.skin-blue .main-header .logo {
	background-color: #367fa9;
	color: #fff;
	border-bottom: 0 solid transparent
}
.skin-blue .main-header .logo:hover {
	background-color: #357ca5
}
.skin-blue .main-header li.user-header {
	background-color: #3c8dbc
}
.skin-blue .content-header {
	background: transparent
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
	background-color: #222d32
}
.skin-blue .user-panel>.info, .skin-blue .user-panel>.info>a {
	color: #fff
}
.skin-blue.layout-top-nav .main-header>.logo {
	background-color: #3c8dbc;
	color: #fff;
	border-bottom: 0 solid transparent
}
.skin-blue.layout-top-nav .main-header>.logo:hover {
	background-color: #3b8ab8
}
.skin-blue-light .main-header .navbar {
	background-color: #3c8dbc
}
.skin-blue-light .main-header .navbar .nav>li>a {
	color: #fff
}
.skin-blue-light .main-header .navbar .nav>li>a:hover, .skin-blue-light .main-header .navbar .nav>li>a:active, .skin-blue-light .main-header .navbar .nav>li>a:focus, .skin-blue-light .main-header .navbar .nav .open>a, .skin-blue-light .main-header .navbar .nav .open>a:hover, .skin-blue-light .main-header .navbar .nav .open>a:focus, .skin-blue-light .main-header .navbar .nav>.active>a {
	background: rgba(0, 0, 0, 0.1);
	color: #f6f6f6
}
.skin-blue-light .main-header .navbar .sidebar-toggle {
	color: #fff
}
.skin-blue-light .main-header .navbar .sidebar-toggle:hover {
	color: #f6f6f6;
	background: rgba(0, 0, 0, 0.1)
}
.skin-blue-light .main-header .navbar .sidebar-toggle {
	color: #fff
}
.skin-blue-light .main-header .navbar .sidebar-toggle:hover {
	background-color: #367fa9
}
@media (max-width:767px) {
	.skin-blue-light .main-header .navbar .dropdown-menu li.divider {
		background-color: rgba(255, 255, 255, 0.1)
	}
	.skin-blue-light .main-header .navbar .dropdown-menu li a {
		color: #fff
	}
	.skin-blue-light .main-header .navbar .dropdown-menu li a:hover {
		background: #367fa9
	}
}
.skin-blue-light .main-header .logo {
	background-color: #3c8dbc;
	color: #fff;
	border-bottom: 0 solid transparent
}
.skin-blue-light .main-header .logo:hover {
	background-color: #3b8ab8
}
.skin-blue-light .main-header li.user-header {
	background-color: #3c8dbc
}
.skin-blue-light .content-header {
	background: transparent
}
.skin-blue-light .wrapper, .skin-blue-light .main-sidebar, .skin-blue-light .left-side {
	background-color: #f9fafc
}
.skin-blue-light .main-sidebar {
	border-right: 1px solid #d2d6de
}
.skin-blue-light .user-panel>.info, .skin-blue-light .user-panel>.info>a {
	color: #444
}

@media (min-width:768px) {
	.skin-blue-light.sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu {
		border-left: 1px solid #d2d6de
	}
}
.skin-blue-light .main-footer {
	border-top-color: #d2d6de
}
.skin-blue.layout-top-nav .main-header>.logo {
	background-color: #3c8dbc;
	color: #fff;
	border-bottom: 0 solid transparent
}
.skin-blue.layout-top-nav .main-header>.logo:hover {
	background-color: #3b8ab8
}




video { 
	width:100%;
	max-width:640px;
	height:auto;
 }
video-display { 
	display: grid;
	grid-column-gap: 50px;
	width:100%;
	max-width:100%;
	height:auto;
}
