html, body {
	height: 100%
}
.layout-boxed html, .layout-boxed body {
	height: 100%
}
body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	overflow-y: auto
}
.wrapper {
	height: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto
}
.wrapper:before, .wrapper:after {
	content: " ";
	display: table
}
.wrapper:after {
	clear: both
}
.layout-boxed .wrapper {
	max-width: 1250px;
	margin: 0 auto;
	min-height: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	position: relative
}

.content-wrapper, .main-footer {
	-webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
	-moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
	-o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
	transition: transform .3s ease-in-out, margin .3s ease-in-out;
	margin-left: 230px;
	z-index: 820
}
.layout-top-nav .content-wrapper, .layout-top-nav .main-footer {
	margin-left: 0
}
@media (max-width:767px) {
	.content-wrapper, .main-footer {
		margin-left: 0
	}
}
@media (min-width:768px) {
	.sidebar-collapse .content-wrapper, .sidebar-collapse .main-footer {
		margin-left: 0
	}
}
@media (max-width:767px) {
	.sidebar-open .content-wrapper, .sidebar-open .main-footer {
		-webkit-transform: translate(230px, 0);
		-ms-transform: translate(230px, 0);
		-o-transform: translate(230px, 0);
		transform: translate(230px, 0)
	}
}
.content-wrapper {
	min-height: 100%;
	background-color: #ecf0f5;
	z-index: 800
}
.main-footer {
	background: #fff;
	padding: 15px;
	color: #444;
	border-top: 1px solid #d2d6de
}
.fixed .main-header, .fixed .main-sidebar, .fixed .left-side {
	position: fixed
}
.fixed .main-header {
	top: 0;
	right: 0;
	left: 0
}
.fixed .content-wrapper, .fixed .right-side {
	padding-top: 50px
}
@media (max-width:767px) {
	.fixed .content-wrapper, .fixed .right-side {
		padding-top: 100px
	}
}
.fixed.layout-boxed .wrapper {
	max-width: 100%
}
.fixed .wrapper {
	overflow: hidden
}
.hold-transition .content-wrapper, .hold-transition .right-side, .hold-transition .main-footer, .hold-transition .main-sidebar, .hold-transition .left-side, .hold-transition .main-header .navbar, .hold-transition .main-header .logo, .hold-transition .menu-open .fa-angle-left {
	-webkit-transition: none;
	-o-transition: none;
	transition: none
}
.content {
	min-height: 250px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Source Sans Pro', sans-serif
}
a {
	color: #3c8dbc
}
a:hover, a:active, a:focus {
	outline: none;
	text-decoration: none;
	color: #72afd2
}
.page-header {
	margin: 10px 0 20px 0;
	font-size: 22px
}
.page-header>small {
	color: #666;
	display: block;
	margin-top: 5px
}
.main-header {
	position: relative;
	max-height: 100px;
	z-index: 1030
}
.main-header .navbar {
	-webkit-transition: margin-left .3s ease-in-out;
	-o-transition: margin-left .3s ease-in-out;
	transition: margin-left .3s ease-in-out;
	margin-bottom: 0;
	margin-left: 230px;
	border: none;
	min-height: 50px;
	border-radius: 0
}
.layout-top-nav .main-header .navbar {
	margin-left: 0
}
.main-header #navbar-search-input.form-control {
	background: rgba(255, 255, 255, 0.2);
	border-color: transparent
}
.main-header #navbar-search-input.form-control:focus, .main-header #navbar-search-input.form-control:active {
	border-color: rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.9)
}
.main-header #navbar-search-input.form-control::-moz-placeholder {
	color: #ccc;
	opacity: 1
}
.main-header #navbar-search-input.form-control:-ms-input-placeholder {
	color: #ccc
}
.main-header #navbar-search-input.form-control::-webkit-input-placeholder {
	color: #ccc
}
.main-header .navbar-custom-menu, .main-header .navbar-right {
	float: right
}
@media (max-width:991px) {
	.main-header .navbar-custom-menu a, .main-header .navbar-right a {
		color: inherit;
		background: transparent
	}
}
@media (max-width:767px) {
	.main-header .navbar-right {
		float: none
	}
	.navbar-collapse .main-header .navbar-right {
		margin: 7.5px -15px
	}
	.main-header .navbar-right>li {
		color: inherit;
		border: 0
	}
}
.main-header .navbar .nav>li.user>a>.fa, .main-header .navbar .nav>li.user>a>.glyphicon, .main-header .navbar .nav>li.user>a>.ion {
	margin-right: 5px
}
.main-header .navbar .nav>li>a>.label {
	position: absolute;
	top: 9px;
	right: 7px;
	text-align: center;
	font-size: 9px;
	padding: 2px 3px;
	line-height: .9
}
.main-header .logo {
	-webkit-transition: width .3s ease-in-out;
	-o-transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
	display: block;
	float: left;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	width: 230px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0 15px;
	font-weight: 300;
	overflow: hidden
}
.main-header .logo .logo-lg {
	display: block
}
.main-header .logo .logo-mini {
	display: none
}
.main-header .navbar-brand {
	color: #fff
}
.content-header {
	position: relative;
	padding: 15px 15px 0 15px
}
.content-header>h1 {
	margin: 0;
	font-size: 24px
}
.content-header>h1>small {
	font-size: 15px;
	display: inline-block;
	padding-left: 4px;
	font-weight: 300
}
.content-header>.breadcrumb {
	float: right;
	background: transparent;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 18px;
	padding: 7px 5px;
	position: absolute;
	top: 15px;
	right: 10px;
	border-radius: 2px
}
.content-header>.breadcrumb>li>a {
	color: #444;
	text-decoration: none;
	display: inline-block
}
.content-header>.breadcrumb>li>a>.fa, .content-header>.breadcrumb>li>a>.glyphicon, .content-header>.breadcrumb>li>a>.ion {
	margin-right: 5px
}
.content-header>.breadcrumb>li+li:before {
	content: '>\00a0'
}
@media (max-width:991px) {
	.content-header>.breadcrumb {
		position: relative;
		margin-top: 5px;
		top: 0;
		right: 0;
		float: none;
		background: #d2d6de;
		padding-left: 10px
	}
	.content-header>.breadcrumb li:before {
		color: #97a0b3
	}
}
.navbar-toggle {
	color: #fff;
	border: 0;
	margin: 0;
	padding: 15px 15px
}
@media (max-width:991px) {
	.navbar-custom-menu .navbar-nav>li {
		float: left
	}
	.navbar-custom-menu .navbar-nav {
		margin: 0;
		float: left
	}
	.navbar-custom-menu .navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
		line-height: 20px
	}
}
@media (max-width:767px) {
	.main-header {
		position: relative
	}
	.main-header .logo, .main-header .navbar {
		width: 100%;
		float: none
	}
	.main-header .navbar {
		margin: 0
	}
	.main-header .navbar-custom-menu {
		float: right
	}
}
@media (max-width:991px) {
	.navbar-collapse.pull-left {
		float: none !important
	}
	.navbar-collapse.pull-left+.navbar-custom-menu {
		display: block;
		position: absolute;
		top: 0;
		right: 40px
	}

}.dropdown-menu {
	box-shadow: none;
	border-color: #eee
}
.dropdown-menu>li>a {
	color: #777
}
.dropdown-menu>li>a>.glyphicon, .dropdown-menu>li>a>.fa, .dropdown-menu>li>a>.ion {
	margin-right: 10px
}
.dropdown-menu>li>a:hover {
	background-color: #e1e3e9;
	color: #333
}
.dropdown-menu>.divider {
	background-color: #eee
}
.navbar-nav>.notifications-menu>.dropdown-menu, .navbar-nav>.messages-menu>.dropdown-menu, .navbar-nav>.tasks-menu>.dropdown-menu {
	width: 280px;
	padding: 0 0 0 0;
	margin: 0;
	top: 100%
}
.navbar-nav>.notifications-menu>.dropdown-menu>li, .navbar-nav>.messages-menu>.dropdown-menu>li, .navbar-nav>.tasks-menu>.dropdown-menu>li {
	position: relative
}
.navbar-nav>.notifications-menu>.dropdown-menu>li.header, .navbar-nav>.messages-menu>.dropdown-menu>li.header, .navbar-nav>.tasks-menu>.dropdown-menu>li.header {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #ffffff;
	padding: 7px 10px;
	border-bottom: 1px solid #f4f4f4;
	color: #444444;
	font-size: 14px
}
.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a, .navbar-nav>.messages-menu>.dropdown-menu>li.footer>a, .navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	font-size: 12px;
	background-color: #fff;
	padding: 7px 10px;
	border-bottom: 1px solid #eeeeee;
	color: #444 !important;
	text-align: center
}
@media (max-width:991px) {
	.navbar-nav>.notifications-menu>.dropdown-menu>li.footer>a, .navbar-nav>.messages-menu>.dropdown-menu>li.footer>a, .navbar-nav>.tasks-menu>.dropdown-menu>li.footer>a {
		background: #fff !important;
		color: #444 !important
	}
}
.navbar-custom-menu>.navbar-nav>li {
	position: relative
}
.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
	position: absolute;
	right: 0;
	left: auto
}
@media (max-width:991px) {
	.navbar-custom-menu>.navbar-nav {
		float: right
	}
	.navbar-custom-menu>.navbar-nav>li {
		position: static
	}
	.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
		position: absolute;
		right: 5%;
		left: auto;
		border: 1px solid #ddd;
		background: #fff
	}
}
.small-box {
	border-radius: 2px;
	position: relative;
	display: block;
	margin-bottom: 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}
.small-box>.inner {
	padding: 10px
}
.small-box>.small-box-footer {
	position: relative;
	text-align: center;
	padding: 3px 0;
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
	display: block;
	z-index: 10;
	background: rgba(0, 0, 0, 0.1);
	text-decoration: none
}
.small-box>.small-box-footer:hover {
	color: #fff;
	background: rgba(0, 0, 0, 0.15)
}
.small-box h3 {
	font-size: 38px;
	font-weight: bold;
	margin: 0 0 10px 0;
	white-space: nowrap;
	padding: 0
}
.small-box p {
	font-size: 15px
}
.small-box p>small {
	display: block;
	color: #f9f9f9;
	font-size: 13px;
	margin-top: 5px
}
.small-box h3, .small-box p {
	z-index: 5
}
.small-box .icon {
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	position: absolute;
	top: -10px;
	right: 10px;
	z-index: 0;
	font-size: 90px;
	color: rgba(0, 0, 0, 0.15)
}
.small-box:hover {
	text-decoration: none;
	color: #f9f9f9
}
.small-box:hover .icon {
	font-size: 95px
}
@media (max-width:767px) {
	.small-box {
		text-align: center
	}
	.small-box .icon {
		display: none
	}
	.small-box p {
		font-size: 12px
	}
}
.box {
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border-top: 3px solid #d2d6de;
	margin-bottom: 20px;
	width: 100%;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}
.box.box-primary {
	border-top-color: #3c8dbc
}
.box.box-info {
	border-top-color: #00c0ef
}
.box.box-danger {
	border-top-color: #dd4b39
}
.box.box-warning {
	border-top-color: #f39c12
}
.box.box-success {
	border-top-color: #00a65a
}
.box.box-default {
	border-top-color: #d2d6de
}
.box.collapsed-box .box-body, .box.collapsed-box .box-footer {
	display: none
}
.box .nav-stacked>li {
	border-bottom: 1px solid #f4f4f4;
	margin: 0
}
.box .nav-stacked>li:last-of-type {
	border-bottom: none
}
.box.height-control .box-body {
	max-height: 300px;
	overflow: auto
}
.box .border-right {
	border-right: 1px solid #f4f4f4
}
.box .border-left {
	border-left: 1px solid #f4f4f4
}
.box.box-solid {
	border-top: 0
}
.box.box-solid>.box-header .btn.btn-default {
	background: transparent
}
.box.box-solid>.box-header .btn:hover, .box.box-solid>.box-header a:hover {
	background: rgba(0, 0, 0, 0.1)
}
.box.box-solid.box-default {
	border: 1px solid #d2d6de
}
.box.box-solid.box-default>.box-header {
	color: #444;
	background: #d2d6de;
	background-color: #d2d6de
}
.box.box-solid.box-default>.box-header a, .box.box-solid.box-default>.box-header .btn {
	color: #444
}
.box.box-solid.box-primary {
	border: 1px solid #3c8dbc
}
.box.box-solid.box-primary>.box-header {
	color: #fff;
	background: #3c8dbc;
	background-color: #3c8dbc
}
.box.box-solid.box-primary>.box-header a, .box.box-solid.box-primary>.box-header .btn {
	color: #fff
}
.box.box-solid.box-info {
	border: 1px solid #00c0ef
}
.box.box-solid.box-info>.box-header {
	color: #fff;
	background: #00c0ef;
	background-color: #00c0ef
}
.box.box-solid.box-info>.box-header a, .box.box-solid.box-info>.box-header .btn {
	color: #fff
}
.box.box-solid.box-danger {
	border: 1px solid #dd4b39
}
.box.box-solid.box-danger>.box-header {
	color: #fff;
	background: #dd4b39;
	background-color: #dd4b39
}
.box.box-solid.box-danger>.box-header a, .box.box-solid.box-danger>.box-header .btn {
	color: #fff
}
.box.box-solid.box-warning {
	border: 1px solid #f39c12
}
.box.box-solid.box-warning>.box-header {
	color: #fff;
	background: #f39c12;
	background-color: #f39c12
}
.box.box-solid.box-warning>.box-header a, .box.box-solid.box-warning>.box-header .btn {
	color: #fff
}
.box.box-solid.box-success {
	border: 1px solid #00a65a
}
.box.box-solid.box-success>.box-header {
	color: #fff;
	background: #00a65a;
	background-color: #00a65a
}
.box.box-solid.box-success>.box-header a, .box.box-solid.box-success>.box-header .btn {
	color: #fff
}
.box.box-solid>.box-header>.box-tools .btn {
	border: 0;
	box-shadow: none
}
.box.box-solid[class*='bg']>.box-header {
	color: #fff
}
.box .box-group>.box {
	margin-bottom: 5px
}
.box .knob-label {
	text-align: center;
	color: #333;
	font-weight: 100;
	font-size: 12px;
	margin-bottom: 0.3em
}
.box>.overlay, .overlay-wrapper>.overlay, .box>.loading-img, .overlay-wrapper>.loading-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
.box .overlay, .overlay-wrapper .overlay {
	z-index: 50;
	background: rgba(255, 255, 255, 0.7);
	border-radius: 3px
}
.box .overlay>.fa, .overlay-wrapper .overlay>.fa {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -15px;
	color: #000;
	font-size: 30px
}
.box .overlay.dark, .overlay-wrapper .overlay.dark {
	background: rgba(0, 0, 0, 0.5)
}
.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
	content: " ";
	display: table
}
.box-header:after, .box-body:after, .box-footer:after {
	clear: both
}
.box-header {
	color: #444;
	display: block;
	padding: 10px;
	position: relative
}
.box-header.with-border {
	border-bottom: 1px solid #f4f4f4
}
.collapsed-box .box-header.with-border {
	border-bottom: none
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
	display: inline-block;
	font-size: 18px;
	margin: 0;
	line-height: 1
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
	margin-right: 5px
}
.box-header>.box-tools {
	position: absolute;
	right: 10px;
	top: 5px
}
.box-header>.box-tools [data-toggle="tooltip"] {
	position: relative
}
.box-header>.box-tools.pull-right .dropdown-menu {
	right: 0;
	left: auto
}
.box-header>.box-tools .dropdown-menu>li>a {
	color: #444!important
}
.btn-box-tool {
	padding: 5px;
	font-size: 12px;
	background: transparent;
	color: #97a0b3
}
.open .btn-box-tool, .btn-box-tool:hover {
	color: #606c84
}
.btn-box-tool.btn:active {
	box-shadow: none
}
.box-body {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding: 10px;
	background-color: lightgray;
	
}
.no-header .box-body {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.box-body>.table {
	margin-bottom: 0;
}
.box-body .fc {
	margin-top: 5px;
}
.box-body .full-width-chart {
	margin: -19px;
}
.box-body.no-padding .full-width-chart {
	margin: -9px;
}
.box-body .box-pane {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 3px
}
.box-body .box-pane-right {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 0;
}